In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('Titanic-Dataset.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [11]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [12]:
from sklearn.model_selection import train_test_split

X_train ,X_test ,y_train,y_test = train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size =0.2,random_state =42)

In [16]:
from sklearn.impute import SimpleImputer
si_age =SimpleImputer()
si_embarked = SimpleImputer(strategy="most_frequent")
X_train_age = si_age.fit_transform(X_train[['Age']])
X_train_embarked = si_embarked.fit_transform(X_train,df[['Embarked']])

X_test = si_age.fit_transform(X_test[['Age']])
X_test_embarked = si_embarked.fit_transform(X_test,df[['Embarked']])

In [ ]:
from sklearn.impute import SimpleImputer

# Mean strategy
imputer_mean = SimpleImputer(strategy='mean')

# Median strategy
imputer_median = SimpleImputer(strategy='median')

# Most frequent strategy
imputer_most_frequent = SimpleImputer(strategy='most_frequent')

# Constant strategy
imputer_constant = SimpleImputer(strategy='constant', fill_value=0)  # Replace with 0 or any other constant

In [ ]:
#One hot encoding
from sklearn.preprocessing import OneHotEncoder
ohe_sex = OneHotEncoder(sparse =False,hand)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [19]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [20]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),
                                                 df['Survived'],
                                                 test_size=0.2,
                                                random_state=42)

In [22]:
trf1 = ColumnTransformer([ ('impute_age',SimpleImputer(),[2]),('impute_embarked',SimpleImputer(strategy ="most_frequent"),[6])],remainder='passthrough')

In [26]:
trf2 = ColumnTransformer([('ohe_sex_embarked',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1,6])],remainder='passthrough')

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [28]:
trf2 = ColumnTransformer(
    [
        ('ohe_sex_embarked', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), [1, 6])
    ],
    remainder='passthrough'
)

In [29]:
trf3 = ColumnTransformer([('scale',MinMaxScaler(),slice(0,8))])

In [42]:
from copy import copy
s =[2,3,4]
t =copy(s)
print(s)
print(t)
print(id(s))
print(id(t))
s[0] ='f'
print(s)
print(t)
print(id(s))
print(id(t))

[2, 3, 4]
[2, 3, 4]
134939057668416
134939057601216
['f', 3, 4]
[2, 3, 4]
134939057668416
134939057601216

In [44]:
from copy import copy

s = [2, 3, [4, 5], [6]]
t = copy(s)

print(s) 
print(t) 
print(id(s))
print(id(t))

[2, 3, [4, 5], [6]]
[2, 3, [4, 5], [6]]
134939104514240
134939057975040

In [36]:
from copy import deepcopy

s = [2, 3, 4]
t = deepcopy(s)
print(s)  
print(t)
print(id(s))
print(id(t))

[2, 3, 4]
[2, 3, 4]
134939057553856
134939057561600

In [50]:
def sum(*arg):
    total=0
    for i in arg:
        total += i
    return total
    
print(sum(1,2,3,4,5))

15

In [57]:
def sum_values(**kwargs):
    total = 0
    for value in kwargs.values():
        total += value
    return total

print(sum_values(a=1, b=4))  # Output: 5

5

In [68]:
p =[1,2,3,4,5,6,7,8,9]
print(p[8:6:-1])
print(p[-2:-6:-1])
print(p[:-4])
print(p[-4:])

[9, 8]
[8, 7, 6, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]

[]