In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(4)

    age  gender   review education purchased
36   34  Female     Good        UG       Yes
30   73    Male  Average        UG        No
28   48    Male     Poor    School        No
5    31  Female  Average    School       Yes

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [15]:
from sklearn.model_selection import train_test_split
X_train ,X_test , y_train ,y_test =train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size =.2)

In [8]:
from sklearn.preprocessing import OrdinalEncoder
oc =OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [9]:
oc.fit(X_train)
X_train_scaled = oc.transform(X_train)
X_test_scaled = oc.transform(X_test)

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
y_train=le.transform(y_train)
y_test=le.transform(y_test)